<div class="skills">
  <div *ngFor="let skill of selectSkillList | keyvalue" class="card">
    <mat-card>
      <mat-card-header class="title">
        <mat-card-title >{{skill.value.display}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="body">
        <mat-grid-list cols="3" rowHeight="3:1">
          <mat-grid-tile>Number of Yellow Dice: {{player.playerSkills.get(skill.key).yellowDiceCount}}</mat-grid-tile>
          <mat-grid-tile>Number of Green Dice: {{player.playerSkills.get(skill.key).greenDiceCount}}</mat-grid-tile>
          <mat-grid-tile>Is Career Skill: {{player.playerSkills.get(skill.key).isCareerSkill}}</mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>