<h1>Setting Information</h1>
<mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile>
        <mat-form-field appearance="standard">
            <mat-label>{{settingsLabel}}</mat-label>
            <mat-select [(value)]="player.setting" (selectionChange)="onChangeUpdate($event)">
                <mat-option *ngFor="let setting of configurations.settings | keyvalue" [value]="setting.value">
                  {{ setting.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-checkbox [(ngModel)]="player.magicEnabled" (change)="onChangeUpdate($event)"> {{magicLabel}} </mat-checkbox>
    </mat-grid-tile>
</mat-grid-list>