<mat-form-field appearance="standard">
    <mat-label>{{archetypeLabel}}</mat-label>
    <mat-select [formControl]="descriptionControl" (selectionChange)="onArchetypeSelection($event)">
        <mat-optgroup *ngFor="let group of archetypeGroup | keyvalue" [label]="group.value.name"
                    [disabled] ="group.value.disabled">
            <mat-option *ngFor="let archetype of group.value.archetypeList | keyvalue" [value]= "archetype.value.id">
                {{ archetype.value.display }}
            </mat-option>
        </mat-optgroup>
    </mat-select>
</mat-form-field>