<div class="genesys-character-sheet">
    <div class="configuration section">
        <app-game-configuration></app-game-configuration>
    </div>
    <div class="description section">
        <app-character-description></app-character-description>
    </div>
    <div class="main attributes section">
        <div class="stats">
            <app-character-stats></app-character-stats>
        </div>
        <div class="characteristics">
            <app-character-characteristics></app-character-characteristics>
        </div>
    </div>
    <div class="skill section">
        <app-character-skills></app-character-skills>
    </div>
</div>