.stats {
    justify-content: center;

    .card {
        width: 180px;
        display: inline-block;
        margin: 0px 15px;
    
        .title {
            justify-content: center;
        }

        .body {
            justify-content: center;
        }
    }
}

